
<body>
    
    <figure class="cover-image">

    </figure>
    <app-header></app-header>
    <div class="buttons">
        <button routerLink='/bandas' ><p>VOLVER</p> </button>
        <button [routerLink]="['editar']" ><p>EDITAR</p> </button>
        <button (click)='eliminarBanda()' class="delete"><p>ELIMINAR</p></button>
    </div>
    
    <div class="cover">
        <div class="bandaActual">
            <img [src]="banda?.imagen" alt="">
            <div>
                <h2>Fecha creación: </h2>
                <p>{{banda?.fechaCreacion}}</p>
            </div>
            <div>
                <h2>Origen: </h2>
                <p>{{banda?.pais}}</p>
            </div>
            <div>
                <h2>Integrantes: </h2>
                <p>{{banda?.integrantes}}</p>
            </div>
            <div>
                <h2>Disco más vendido: </h2>
                <p>{{banda?.discoMasVendido}}</p>
            </div>
            <div>
                <h2>Activos: </h2>
                <p>{{banda?.activos}}</p>
            </div>
            
        </div>
        <div class="texto">
            <div>
                <h1>INFORMACION SOBRE LA BANDA</h1>
            </div>
            <div>
                <p>{{banda?.informacion}}</p>
               
            </div>
            
            <div class="videos">
                <h1>
                    CANCIONES MÁS ESCUCHADAS
                </h1>
                <div>
                    <p><a target="_blank" [href]="banda?.cancion1">{{banda?.cancion1}}</a></p>
                    <p><a target="_blank" [href]="banda?.cancion2">{{banda?.cancion2}}</a></p>
                    <p><a target="_blank" [href]="banda?.cancion3">{{banda?.cancion3}}</a></p>
                    
                </div>
            </div>
        </div>
       
    </div>
</body>
