
<figure class="cover-image">

</figure>
<app-header></app-header>
<div>
    
    <div class="bandas">
        <div class="banda" *ngFor="let banda of bandasMostradas"
             [routerLink]="['/bandas', banda.id]">
            <img [src]="banda.imagen" alt="">
        </div>
        <div class="banda" routerLink='/nuevaBanda'>
            <div class="bordeAdd">
                <img src="http://www.clker.com/cliparts/L/q/T/i/P/S/add-button-white-hi.png" >
            </div>
           
        </div>
    </div>
</div>

